.team{
	height: 653px;
    background: #292929;
    padding-top: 60px;
}

.team-header{
	width: 334px;
    text-transform: uppercase;
    font-size: 43px;
    color: white;
    border-left: 2px solid #df4b1a;
    padding-left: 13px;
}

.team-middle{
	font-size: 20px;
    margin-top: 7px;
    width: 1250px;
    line-height: 34px;	
}

.team-imgWrap{
    height: 350px;
    margin-top: 77px;	
    overflow: hidden;
}

.team-person{
	position: relative;
	display: inline-block;
}

.team-person:nth-child(2), .team-person:nth-child(3), .team-person:nth-child(4){
	margin-left: -5px;
	vertical-align: top;
}

.team-person > img{
	vertical-align: top;
	width: 322px;
	min-height: 350px;
}

.team-currentPerson{
    display: none;
    position: absolute;
	width: 300px;
	height: 103px;
    top: 0;
    left: 0;
    padding-left: 22px;
    padding-top: 247px;
    font-size: 21px;
    color: white;
}

.team-currentPerson > div:first-child{
	margin-top: -3px;
    font-size: 15px;
    text-transform: uppercase;
}

.team-currentPerson > div:last-child{
	margin-top: 9px;
    font-size: 17px;
}

.team-currentPerson > div:last-child > i{	
	margin-left: 8px;
	cursor: pointer;
}

