.uderworking__types{
	width: 700px;
	/*border: 1px solid;*/
	margin: 0 auto;
}

.uderworking__types > div{
	display: inline-block;
	background: #1526ac;
    width: 300px;
    font-size: 24px;
    border-radius: 12px;  
	padding: 10px;      
	text-align: center;
    cursor: pointer;
    margin: 15px 16px;
    padding-left: 5px;
}

.uderworking__types > div:hover{
	background: #1a2687;
}

.underworkingComment{
    font-size: 15px;
    color: #191d41;
}