.projectMenu{
	border-radius: 15px;
	width: 500px;
	background: gray;
	text-align: center;
	padding-top: 20px;
    padding-bottom: 25px;
	margin: 50px auto;
	display: none;
}

.projectMenu>input, .projectMenu>select, .projectMenu>div>input  {
	width: 400px;
	height: 40px;
	font-size: 32px;
	margin-top: 5px; 
	border-radius: 5px;
}
.projectMenu select{
	width: 404px;
}

.projectMenu>div>input{
	display: block;
}

.projectInputRange{
	width: 400px;
	font-size: 32px;
	margin: 0 auto;
}

.proejctAccept{
	display: inline-block;
	background: green;
	width: 200px;
	font-size: 32px;
    cursor: pointer;
	height: 40px;
}

.proejctAccept::selection{
	background: none;
}

.proejctAccept:hover{
	background: #066606;
}

.proejctAccept:active{
	background: #0c550c;
}

.projectClose{
	width: 200px;
	font-size: 32px;
	height: 40px;
	display: inline-block;
    cursor: pointer;
	background: red;
}

.projects{
    background: #5057b3;
	width: 204px;
    cursor: pointer;
    height: 61px;
    padding-left: 51px;
    z-index: 10;
    transform: skewX(-52deg);
    font-size: 40px;
    color: black;
    margin-left: 120px;
    display: inline-block;
}



.projectsSpan{
    transform: skewX(52deg);

}