body{
	background: #7FC7FF;
	margin: 0;
}

.start{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 15px;
	right: 0;
	margin: auto;
	color: white;
	width: 760px;
	height: 100px;
	background: black;
}

.startText{
	display: none;
    line-height: 100px;
    font-size: 46px;
    text-align: center;
}

.startNextBut{
	width: 50px;
    position: absolute;
	border-radius: 0 15px 15px 0;
    bottom: 0;
    cursor: pointer;
    right: 0;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	height: 100px;
}

.header{
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 15px 15px;
    background: red;
    font-size: 50px;
    margin-bottom: 50px; 
    line-height: 70px;
}

.header>div{
	display: inline-block;
	height: 65px;
	width: 250px;
	//margin: 0 auto;
	cursor: default;

}

.projectMenu{
	border-radius: 15px;
	width: 500px;
	background: gray;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	display: none;
}


.projectMenu>input, .projectMenu>select, .projectMenu>div>input  {
	width: 400px;
	height: 40px;
	font-size: 32px;
}

.projectMenu>div>input{
	display: block;
}

.projectInputRange{
	width: 400px;
	font-size: 32px;
	margin: 0 auto;
}

.proejctAccept{
	display: inline-block;
	background: green;
	width: 200px;
	font-size: 32px;
    cursor: pointer;
	height: 40px;
}

.projectClose{
	width: 200px;
	font-size: 32px;
	height: 40px;
	display: inline-block;
    cursor: pointer;
	background: red;
}

.projects{
    background: red;
	width: 204px;
    cursor: pointer;
    height: 61px;
    padding-left: 51px;
    z-index: 10;
    transform: skewX(-52deg);
    font-size: 40px;
    color: black;
    margin-left: 120px;
    display: inline-block;
}

.projectsSpan{
    transform: skewX(52deg);

}

.workers{
    background: red;
	width: 204px;
    cursor: pointer;
    height: 61px;
    padding-left: 51px;
    transform: skewX(-52deg);
    font-size: 40px;
    color: black;
   	margin-left: 120px;
    display: inline-block;
}

.workersSpan{
    transform: skewX(52deg);
}

.workerMenu{
	width: 500px;
	background: gray;
	border-radius: 15px;
	text-align: center;
	margin: 0 auto;    
	font-size: 40px;
	display: none;
}

.workerMenuHeader{
	border-bottom: 1px solid black;
	border-radius: 15px 15px 0 0;
	font-size: 45px;
	background: #6d6c6c;
	font-weight: bold;
}

.workerMenuHire{
	border-top: 1px solid black;
	margin-bottom: 5px;
	background: #6d6c6c;
}

.workBox{
	width: 20px;
	cursor: pointer;
	height: 20px;
	margin-left: 40px;	
	display: inline-block;
	border: 1px solid black;
}

.workersSalary{
	color: #840101;
}

.workerLvl{
	font-size: 20px;
	color: #535353;
}

.workerMenu>input{
	width: 400px;
	cursor: pointer;
}

.workerSalary{
	color: #004400;
}

.workerMenuClose{
	border-top: 1px solid black;
	background: #6d6c6c;
	border-radius: 0 0 15px 15px;
	cursor: pointer;
}

.workers{
	cursor: pointer;
}

.finance{
    background: red;
	width: 204px;
    cursor: pointer;
    height: 61px;
    padding-left: 51px;
    transform: skewX(-52deg);
    font-size: 40px;
    color: black;
    margin-left: 120px;
    display: inline-block;
}

.financeSpan{
    transform: skewX(52deg);
}

.financeMenu{
	overflow: hidden;
	width: 500px;
	height: 400px;
	margin: 50px auto;    
	background: linear-gradient(rgb(45, 155, 43),rgb(179, 9, 9));
	border-left: 3px solid black;
}

.financeGraphLine{
	position: absolute;
}

.financeGraph{
	height: 400px;
}

.dayBar{
    width: 1300px;
    height: 25px;
    background: gray;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 30px;
}

.dayStatus{
	width: 0px;
	height: 25px;
	background: yellow;
	border-radius: 5px;
}

.polylineBlock{
	height: 400px;
	width: 100000px;
}

.nav{
	width: 1300px;
	margin: 0 auto;
}